// Core

@import 'core';

// Fonts

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap');

// Widgets

@import 'widgets';

// Components

@import 'components';

// Layout Components

@import 'layout-components';

// Layout Blueprints

@import 'layout-blueprints';

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

// /views/auth/CADASTRO.JS

// botão de login do facebook e google mais para baixo na página de cadastro
.cadastro-button-loginmidiassociais {
  padding: 1.1rem;
}

// título da pagina um pouco para baixo
.landingcadastro-acerto-header {
  margin-top: 2.3rem;
}

@media (max-width: 767px) {
  .cadastro-no-top-padding {
    padding-top: 0 !important;
  }
}
// END CADASTRO.JS

//espaçamento na pagina de noticias entre table e search bar
.espaçamento-do-cris {
  margin-bottom: 2em;
}