@font-face {
  font-family: 'NunitoSans';
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/NunitoSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NunitoSansBlack';
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/NunitoSans-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'NunitoSansBlackItalic';
  font-style: normal;
  font-weight: normal;
  src: url(../assets/fonts/NunitoSans-BlackItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'NunitoSansBold';
  font-style: normal;
  font-weight: bold;
  src: url(../assets/fonts/NunitoSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'NunitoSansBoldItalic';
  font-style: italic;
  font-weight: bold;
  src: url(../assets/fonts/NunitoSans-BoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'NunitoSansExtraBold';
  font-style: normal;
  font-weight: bolder;
  src: url(../assets/fonts/NunitoSans-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'NunitoSansExtraBoldItalic';
  font-style: italic;
  font-weight: bolder;
  src: url(../assets/fonts/NunitoSans-ExtraBoldItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'NunitoSansLight';
  font-style: normal;
  font-weight: 200;
  src: url(../assets/fonts/NunitoSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'NunitoSansLightItalic';
  font-style: italic;
  font-weight: 200;
  src: url(../assets/fonts/NunitoSans-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'NunitoSansSemiBold';
  font-style: normal;
  font-weight: 600;
  src: url(../assets/fonts/NunitoSans-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'NunitoSansSemiBoldItalic';
  font-style: italic;
  font-weight: 600;
  src: url(../assets/fonts/NunitoSans-SemiBoldItalic.ttf) format('truetype');
}
