.tweeze-scrollbar {
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.tweeze-scrollbar:hover {
  mask-position: left top;
  -webkit-mask-position: left top;
}

body::-webkit-scrollbar,
.tweeze-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  border-radius: 20px;
}

body::-webkit-scrollbar-track,
.tweeze-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb,
.tweeze-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba($sidebar-bg, 0.7);
  border-radius: 20px;

  &:hover {
    background-color: rgba($sidebar-bg, 0.9);
  }
}
