{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Dashboard {% endblock %} 

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock stylesheets %}

{% block content %}
			
	<div class="content">
		<div class="panel-header bg-primary-gradient">
			<div class="page-inner py-5">
				<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
				</div>
			</div>
		</div>


		<div class="page-inner"></div>
			
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<script src="{% static 'js/backgroundColor.js' %}"></script>

{% endblock javascripts %}
