{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Meu Termos e Grupos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/my_terms.css' %}">
{% endblock stylesheets %}

{% block content %}

	<div class="content">
    <div class="card header-card title">
      <div class="card-title">Meus termos e grupos</div>
      <div class="card-body">
        <div class="form-group">
          <select class="form-control form-control" id="term-select">
            <option>Todos os termos</option>
            <option>Somente positivos</option>
            <option>Somente negativos</option>
          </select>
        </div>

        <form class="nav-search">
          <div class="input-group">
            <input type="text" placeholder="Encontre o termo aqui" class="form-control" id="term-search">
            <div class="input-group-append">
              <button class="btn btn-search pr-1">
                <i class="fa fa-search search-icon"></i>
              </button>
            </div>
          </div>
        </form>

        <button class="btn btn-primary" data-toggle="modal" data-target="#create-group">
          Criar grupo
        </button>
      </div>
    </div>

		<div class="page-inner">
      {% for grupo in grupos %}
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            {{grupo.grupo}}
            <div class="btn-group actions" role="group" aria-label="Basic example">
              <button
                type="button"
                id="edit-{{grupo.id}}"
                class="btn btn-outline-secondary edit-group"
                data-toggle="modal"
                data-target="#edit-group"
              >
                <i class="far fa-edit"></i>
              </button>
              <button type="button" id="delete-{{grupo.id}}" class="btn btn-outline-secondary delete-group">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
          
            {% if grupo.positivas|length >= 1 and grupo.positivas.0 != "" %}
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">
                      <button class="btn btn-success">Termos Positivos</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for termo in grupo.positivas %}
                    <tr>
                      <td class="text-center">{{termo}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}

            {% if grupo.negativas|length >= 1 and grupo.negativas.0 != "" %}
            
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">
                      <button class="btn btn-danger">Termos Negativo</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for termo in grupo.negativas %}
                    <tr>
                      <td class="text-center">{{termo}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}     

    </div>

    {% include "create_group_modal.html" %}
    {% include "edit_group_modal.html" %}
	</div>
{% endblock content %}

{% block javascripts %}
	<script src="{% static 'js/backgroundColor.js' %}"></script>
  <script type="text/javascript">
      const GRUPOS = {{grupos|safe}};
  </script>
	<script src="{% static 'js/my_terms.js' %}"></script>
{% endblock javascripts %}
