{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Meu Termos e Grupos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/my_terms.css' %}">
{% endblock stylesheets %}

{% block content %}

	<div class="content">
    <div class="card header-card title">
      <div class="card-title">Meus termos e grupos</div>
      <div class="card-body">
        <div class="form-group">
          <select class="form-control form-control" id="term-select">
            <option>Todos os termos</option>
            <option>Somente positivos</option>
            <option>Somente negativos</option>
          </select>
        </div>

        <form class="nav-search">
          <div class="input-group">
            <input type="text" placeholder="Encontre o termo aqui" class="form-control" id="term-search">
            <div class="input-group-append">
              <button class="btn btn-search pr-1">
                <i class="fa fa-search search-icon"></i>
              </button>
            </div>
          </div>
        </form>

        <button class="btn btn-primary" data-toggle="modal" data-target="#searchtems-modal">
          Criar grupo
        </button>
      </div>
    </div>

		<div class="page-inner">
      {% for grupo in grupos %}

      <div class="card">
        <div class="card-header">
          <div class="card-title">
            {{grupo.grupo}}
            <div class="btn-group actions" role="group" aria-label="Basic example">
              <button
                type="button"
                id="edit-{{grupo.id}}"
                class="btn btn-outline-secondary edit-group"
                data-toggle="modal"
                data-target="#searchtems-modal"
              >
                <i class="far fa-edit"></i>
              </button>
              <button type="button" id="delete-{{grupo.id}}" class="btn btn-outline-secondary delete-group">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
          
            {% if grupo.positivas|length > 1 %}
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">
                      <button class="btn btn-success">Termos Positivos</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for termo in grupo.positivas %}
                    <tr>
                      <td class="text-center">{{termo}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}

            {% if grupo.negativas|length > 1 %}
              <table class="table">
                <thead>
                  <tr>
                    <th class="text-center">
                      <button class="btn btn-danger">Termos Negativo</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for termo in grupo.negativas %}
                    <tr>
                      <td class="text-center">{{termo}}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endif %}

          </div>
        </div>
      </div>
      
      {% endfor %}     

    </div>

    <div class="modal fade" id="searchtems-modal" tabindex="-1" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <form class="terms-form" action="{% url 'dashboard:criargrupo' %}" method="POST">
            {% csrf_token %}
            <div class="modal-header">
              <h2 class="modal-title" id="exampleModalLabel">Criar novo grupo</h2>
              <button type="button" id="close" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>  

            <div class="modal-body">
              <label for="group-name">Nome do Grupo</label>
              <input
                class="form-control"
                type="text"
                id="group-name"
                name="group-name"
              />
  
              <div class="forms-wrapper">
                <div class="positive-clipping-form" id="positive-clipping-form">
                  <label for="positive-clipping-list">Insira aqui os termos positivos</label>
                  <input
                    class="form-control"
                    type="text"
                    id="positive-clipping-list"
                    name="positive-clipping-list"
                    placeholder="Separe as palavras com vírgula"
                  />
            
                  <label class="labels" for="key-words">Palavras-chave</label>
                  <ul class="key-words-wrapper positive-wrapper"></ul>
                </div>
  
                <div class="negative-clipping-form" id="negative-clipping-form">
                  <label for="negative-clipping-list">Insira aqui os termos negativos</label>
                  <input
                    class="form-control"
                    type="text"
                    id="negative-clipping-list"
                    name="negative-clipping-list"
                    placeholder="Separe as palavras com vírgula"
                  >
            
                  <label class="labels" for="key-words">Palavras-chave</label>
                  <ul class="key-words-wrapper negative-wrapper"></ul>
                </div>
              </div>
            </div>


            <div class="modal-footer">
              <button type="button" class="btn btn-danger cancel-btn" data-dismiss="modal">Cancelar</button>
                <input type="text" name="sendPositiveForm" id="sendPositiveForm" class="hidden">
                <input type="text" name="sendNegativeForm" id="sendNegativeForm" class="hidden">
                <input type="text" name="sendGroupId" id="sendGroupId" class="hidden">
                <button type="submit" class="btn btn-success submit-btn">Confirmar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

	</div>

{% endblock content %}

{% block javascripts %}
	<script src="{% static 'js/backgroundColor.js' %}"></script>
  <script type="text/javascript">
      const GRUPOS = {{grupos|safe}};
  </script>
	<script src="{% static 'js/my_terms.js' %}"></script>
{% endblock javascripts %}
