{% extends "layouts/base.html" %}
{% load static %}

{% block title %} Relatórios {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/reports.css' %}">
{% endblock stylesheets %}

{% block content %}

	<div class="content">
    <div class="card header-card title">
      <div class="card-title">Seu clipping</div>
    </div>

		<div class="page-inner">
	  <!-- Filtro e Seleção das Notícias -->
      <div class="main-card card">
        <div class="card-header">
          <div class="card-title">
            <div class="wrapper">
              <span>Selecione o grupo para o clipping</span>
              <div class="form-group">
                <select class="form-control form-control" id="group">
                  <option value="none" selected disabled hidden>
                    Selecione um grupo
                  </option>
                  <option value="group_id_1">Grupo 1</option>
                  <option value="group_id_2">Grupo 2</option>
                  <option value="group_id_3">Grupo 3</option>
                </select>
              </div>
            </div>

            <div class="wrapper">
              <span>Selecione o período</span>
              <div class="form-group">
                <input class="form-control" type="date" id="date-period" name="date-period">
              </div>
            </div>
          </div>
          
          <div class="card-subtitle">
            <div class="wrapper checkboxes">
              <span class="checkboxes-title">Incluir relatórios de:</span>
              <div class="checkbox-item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="most-quoted">
                    <span class="form-check-sign">Onde você é mais citado</span>
                  </label>
                </div>
              </div>
              <div class="checkbox-item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="latest-news">
                    <span class="form-check-sign">Últimas notícias</span>
                  </label>
                </div>
              </div>
              <div class="checkbox-item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="local-news">
                    <span class="form-check-sign">Locais</span>
                  </label>
                </div>
              </div>
              <div class="checkbox-item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="user-sentiment">
                    <span class="form-check-sign">Sentimento do usuário</span>
                  </label>
                </div>
              </div>
              <div class="checkbox-item">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" id="select-all">
                    <span class="form-check-sign">Selecionar todos</span>
                  </label>
                </div>
              </div>
            </div>

            <button class="btn btn-primary apply-changes" id="apply-changes">Aplicar</button>
          </div>
        </div>
        
        <!-- Tabela de Notícias -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="table-news">
              <thead>
                <tr>
                  <th>
                     <div class="form-check">
                      <label class="form-check-label">
                        <input type="checkbox" id="all-news" class="form-check-input select-all-news">
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </th>
                  <th class="news-title">Título</th>
                  <th>Fonte</th>
                </tr>
              </thead>
              <tbody>
                {% for n in noticias_filtradas %}
                  <tr>
                    <td>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input news-check" id={{n.id}}>
                          <span class="form-check-sign"></span>
                        </label>
                      </div>
                    </td>
                    <td class="news-title"><a href="{{n.url}}" target="_blank">{{n.title}}</a></td>
                    <td class="news-source">{{n.source}}</td>
                  </tr>
                {% endfor %}
            
              </tbody>
            </table>
          </div>
        </div>
        <!-- Fim da Tabela de Notícias -->
      </div>
      <!-- Fim do Filtro e Seleção das Notícias -->

      <!-- Geração Automática do Relatório -->
      <div class="card automatic-report">
        <div class="card-title">Geração automática de relatórios</div>
        <div class="card-body">
          {% comment %} <form class="delete-form" action="{% url 'dashboard:deletargrupo' %}" method="POST"> {% endcomment %}
          <form class="generate-report-form" method="POST">
            {% csrf_token %}
            <div class="wrapper">
              
              <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" name="automatic_report" id="automatic_report" value="">
                  <span class="form-check-sign">Deseja habilitar o envio automático desse clipping?</span>
                </label>
              </div>

              <input
                class="form-control email"
                type="email"
                name="report_emails"
                id="report_emails"
                placeholder="email1@mail.com,email2@mail.com"
              >
            </div>

            <div class="wrapper">
              <span>Defina a frequência</span>
              <div class="form-group">
                <select class="form-control form-control" id="report_frequency">
                  <option>1 hora</option>
                  <option>3 horas</option>
                  <option>6 horas</option>
                  <option>12 horas</option>
                  <option>1 dia</option>
                  <option>7 dias</option>
                  <option>30 dias</option>
                </select>
              </div>
            </div>

            <input type="text" name="selected_news_array" id="selected_news_array" class="hidden">

            <div class="actions-wrapper">
              <i class="fas fa-share-square" id="export-btn"></i>
              <i class="fas fa-download" id="download-btn"></i>
              <button type="submit" class="btn btn-primary generate">Gerar relatório</button>
            </div>
          </form>
        </div>
      </div>
      <!-- Fim da Geração Automática do Relatório -->
    </div> 
	</div>

{% endblock content %}

{% block javascripts %}
	<script src="{% static 'js/backgroundColor.js' %}"></script>
	<script src="{% static 'js/reports.js' %}"></script>
  <script >
		$(document).ready(function() {
      $('#table-news').DataTable({
        columnDefs: [{ orderable: false, targets: 0 }],
        order: [[1, 'asc']],
        scrollY: "30vh",
        pagingType: "numbers"
      });

		});
	</script>
{% endblock javascripts %}
