@import 'dashboard_common.css';
@import 'header_card.css';

.row.first {
  margin-top: 55px;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row > .card {
  display: flex;
  width: 100%;
}

.row > .column {
  width: 50%;
}

.card.stats-graph .card-body {
  display: flex;
  flex-direction: column;
}

.card.stats-graph .card-body .chart-container{
  height: 100%;
}