@import 'dashboard_common.css';
@import 'header_card.css';
@import 'btn.css';

.main-card {
  margin-top: 60px;
}

.main-card .table thead th,
.main-card .table tbody td {
  height: 45px;
  padding: 15px;
}

.main-card .table thead th:first-child {
  width: 20px !important;
}

.main-card .table tbody .news-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  max-width: 30rem;
}

.main-card .table thead .news-title {
  width: 30rem !important;
}

.main-card .table tbody .news-title a {
  color: #2183ff;
}

.main-card .table tbody .row-selected {
  background-color: #e9e9e9;
}

body[data-background-color="dark"] .main-card .table tbody .row-selected {
  background-color: #1c1c1ca8;
}

.main-card .table-responsive .paging_numbers {
  padding-top: 0.85em;
}

.main-card .table-responsive .pagination .page-link {
  width: 25px;
  height: 25px;
  padding: .2rem .5rem;
}

.card.title .card-title {
  padding: 10px 20px;
  text-transform: uppercase;
}

.automatic-report .card-title {
  padding: 10px 20px;
}

.main-card, .automatic-report {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.main-card .card-header .card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.page-inner .card-subtitle {
  display: flex;
  justify-content: space-between;
}

.page-inner .card-title .wrapper, .page-inner .card-subtitle .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-inner .card-subtitle .checkboxes {
  flex-wrap: wrap;
}

.page-inner .card-subtitle .checkboxes .checkboxes-title {
  font-size: 20px;
  margin-right: 20px;
}

.page-inner .card-subtitle .checkboxes .checkbox-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px;
}

.page-inner .card-subtitle .checkboxes .checkbox-item input[type=checkbox] {
  margin-right: 10px;
}

.page-inner .card-subtitle .checkboxes .checkbox-item span {
  font-size: 14px;
}

.page-inner .wrapper span, .automatic-report span {
  color: #8d9498;
}

.automatic-report .card-body .generate-report-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.automatic-report .form-control.email {
  width: 300px;
}

body[data-background-color="dark"] .automatic-report .form-control {
  background-color: #1a2035;
  border-color: #2f374b;
  color: #fff;
}

.automatic-report .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
}

.automatic-report .wrapper input, .automatic-report .wrapper span {
  margin-right: 10px;
}

.automatic-report .actions-wrapper {
  margin-left: auto;
  width: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.automatic-report .actions-wrapper i {
  color: #8d9498;
  font-size: 18px;
}

.automatic-report .actions-wrapper .generate,
.main-card .card-header .apply-changes {
  font-size: 14px;
  padding: 5px 10px;
  height: fit-content;
}

.generate-report-form .hidden {
  display: none;
}

.form-check {
  padding: 0;
}

.form-check .form-check-label {
  margin: 0;
}

.form-check .form-check-label .form-check-sign {
  font-weight: normal;
}
