.page-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0;
}

.card {
  margin: 15px;
  padding: 5px;
}

.header-card {
  margin-bottom: 0;
}

.card.title .card-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0;
}

.card.title .card-title {
  padding: 10px 20px;
}

.card.title .input-group {
  background-color: white;
}
.card.title .form-group {
  min-width: fit-content;
}

.card.title .form-group,
.card.title .nav-search {
  margin-right: 50px;
}

.card.title .btn.btn-primary {
  margin-left: auto;
  margin-right: 20px;
  padding: 8px 15px;
}

.card .card-title {
  text-transform: uppercase;
}

.table-responsive .btn {
  text-transform: uppercase;
  font-size: 10px;
  padding: 5px 10px;
}

.table-responsive .actions button {
  font-size: 12px;
}

body[data-background-color="dark"] .card.title .nav-search .input-group {
  background-color: #1a2035;
  border-color: #2f374b;
  color: #fff;
}

body[data-background-color="dark"] .modal .modal-content {
  background: #202940;
}

body[data-background-color="dark"] .modal .modal-content .close {
  text-shadow: none;
  color: white;
}

.clipping-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.clipping-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-top: 1rem;
}

.labels {
  margin-top: 10px;
}
.clipping-box input {
  height: 1.3rem;
  width: 60%;
}

.clipping-box input:focus  {
  box-shadow: none;
  border-color: inherit;
}

.clipping-box label {
  font-size: 0.5rem;
}

.positive-clipping-form .key-words-wrapper, .negative-clipping-form .key-words-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 3rem;
  padding: 10px 0;
  max-height: 10rem;
  border: 1px solid #ebedf2;
  border-radius: 0.25rem;
  list-style-type: none;
  overflow-y: auto;
}

.positive-clipping-form .key-word, .negative-clipping-form .key-word {
  display: flex;
  align-items: baseline;
  color: #09407e;
  font-size: 0.7rem;
  padding: 10px;
  margin: 4px;
  box-shadow: 1px 1px 6px 0px rgb(0 0 0 / 20%);
}

.positive-clipping-form .key-word .close,
.negative-clipping-form .key-word .close {
  font-size: 12px;
  margin-left: 10px;
}

.modal .modal-dialog {
  max-width: 50rem;
}

.modal .modal-body, .modal .modal-header {
  padding: 15px 50px;
}

.modal .forms-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal .forms-wrapper form {
  width: 40%;
}

.modal .modal-footer {
  justify-content: center;
}
